/* цвет основного текста #757575;*/
/*вторичный цвет #212121; */
/* белый #FFFFFF;*/
/*синий #2196F3; */
/*основной фон background: #FFFFFF;  */
/*наша команда background:#F5F4FA; */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --background-footer: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
}
/* logo */
.logo {
  color: var(--title-text-color);
}
.logo-accent {
  color: var(--accent-color);
}
.logo .white {
  color: var(--primery-white-color);
}
/* site-nav */
ul {
  list-style: none;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* auth-nav */
.auth-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--accent-color);
}
/* hero */
.hero .title {
  color: var(--title-text-color);
}
/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primery-white-color);
}
.primery {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}
.button .secondary:focus,
.button .secondary:hover {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}
/* feature */
.feature .title {
  color: var(--title-text-color);
}
/* section */
.section .title {
  color: var(--title-text-color);
}
.section .white {
  color: var(--primery-white-color);
}
a {
  color: var(--primery-text-color);
}
/* footer */
.footer {
  background-color: var(--background-footer);
}
.footer .white {
  color: var(--primery-white-color);
}
