/* цвет основного текста #757575;*/
/*вторичный цвет #212121; */
/* белый #FFFFFF;*/
/*синий #2196F3; */
/*основной фон background: #FFFFFF;  */
/*наша команда background:#F5F4FA; */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
}
